{{> head}}
    <body>
        {{! для того, чтобы  laout знал, куда рендерить страницу}}
        {{! и типа в body мы помешаем контент из других стр, а все остальное остается }}
        {{> navbar}}
            <div class="container">
                {{{body}}}
            </div>
        

        {{> footer}}
    </body>
</html>